lab08-wcf/BadmintonClients/BadmintonClientConsole/Service References/BadmintonServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53399/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BadmintonServiceLibrary" />
  <xs:element name="GetAlleSportClubs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlleSportClubsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BadmintonServiceLibrary" minOccurs="0" name="GetAlleSportClubsResult" nillable="true" type="q1:ArrayOfSportClubType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeden">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BadmintonServiceLibrary" minOccurs="0" name="club" nillable="true" type="q2:SportClubType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLedenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BadmintonServiceLibrary" minOccurs="0" name="GetLedenResult" nillable="true" type="q3:ArrayOfLidType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>